<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.meta_description | default: site.description }}">
    <meta property="og:image" content="{{ page.image | default: 'https://betashorts.com/logo.jpg' }}">
    <meta property="og:url" content="https://betashorts.com{{ page.url }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.meta_description | default: site.description }}">
    <meta name="twitter:image" content="{{ page.image | default: 'https://betashorts.com/logo.jpg' }}">
    <meta name="twitter:site" content="@betashorts0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{ page.meta | default: "" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DPWTFCZR4X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DPWTFCZR4X');
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "headline": "{{ page.title }}",
  "image": "https://betashorts.com/logo.jpg", 
  "author": {
    "@type": "Person",
    "name": "Beta Shorts"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Beta Shorts",
    "logo": {
      "@type": "ImageObject",
      "url": "https://betashorts.com/logo.jpg"
    },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://betashorts.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
  },
  "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
  "dateModified": "{{ page.date | date: '%Y-%m-%d' }}",
  "description": "{{ page.meta_description | default: site.description }}"
}
</script>

</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">
                <img src="/logo.jpg" alt="Beta Shorts Logo" class="navbar-logo" />
                Beta Shorts
            </a>
            <ul class="navbar-links">
                <li><a href="/privacy.html">Privacy Policy</a></li>
                <li><a href="/terms.html">Terms of Service</a></li>
                <li><a href="/support.html">Support</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/admin.html">Admin</a></li>
            </ul>
        </div>
    </nav>
</header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="footer-container">
            <p>© 2025 Beta Shorts. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
