<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{ page.meta | default: "" }}
</head>
<body>
<!-- <header>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand">
                <img src="/logo.jpg" alt="Screenplay Writer Logo" class="navbar-logo" />
                Screenplay Writer
            </a>
            <ul class="navbar-links">
                <li><a href="/privacy.html">Privacy Policy</a></li>
                <li><a href="/terms.html">Terms of Service</a></li>
                <li><a href="/support.html">Support</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </div>
    </nav>
</header>
 -->
<header class="navbar-container">
<a href="/">
    <img src="/logo.jpg" alt="Screenplay Writer Logo" class="navbar-logo" />
    <span class="navbar-title">Screenplay Writer</span>
</a>
<ul class="nav-links">
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/terms">Terms of Service</a></li>
    <li><a href="/support">Support</a></li>
    <li><a href="/blog">Blog</a></li>
</ul>
</header>


    <main>
        {{ content }}
    </main>

    <footer>
        <div class="footer-container">
            <p>© 2024 Screenplay Writer. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
